* {
    padding: 0;
    margin: 0;
}

body{
    background-image: url("img/wallpapper.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    overflow: hidden;
}

canvas {
    display: block;
    margin: 200px 720px ;
    border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.424);
}


